// backgrounds
$background-1: #fafafa;
$background-2: #edeaf3;
$background-3: #ffffff;
$background-inverse: #363537;

// accents
$accent-1: #564f85;
$accent-2: #7e85b9;
$accent-3: #f98a81;

// stuff
$dark-purple: #3d1d56;
$light-purple: #edeaf3;
$light-gray: #8d8d8d;
$dark-gray-low-opacity: rgba(0, 0, 0, 0.3);
$black: #000000;

// texts
$text-1: #000000;
$text-2: #564f85;
$text-3: #7e85b9;
$text-inverse: #ffffff;