.container {
    margin: 0 auto;
    background-color: #EDEAF3;
    display: block;
    padding: 2rem 3rem 3rem 2rem;
    .descriptionImageContainer {
        display: flex;
        gap: 2rem;
        justify-content: center;  // Centers horizontally
        align-items: center;      // Centers vertically
        .imageContainer {
            justify-content: center;  // Centers horizontally
            align-items: center;      // Centers vertically
            width: 60%;
            overflow: hidden;
            display: flex;
        }
        .imageContainer img {
            width: 100%;      // Scales the image to fit the container's width
            height: auto;     // Maintains the image's aspect ratio
            display: block;   // Removes any extra space below the image
        }
        .descriptionContainer {
            width: 60%;
        }
        .foterContainer {
            display: flex;
            gap: 2rem;
            font-family: 'Open Sans';
            .row {
                display: flex;
                align-items: center;
                .icon {
                    margin-right: 0.5rem;
                    width: auto;
                    height: auto;
                    height: 1.8rem;
                }
            }
        }
    }
    .image {
        width: auto;
    }
    .description {
        font-weight: normal;
        font-size: 20;
        font-family: 'Poppins';
    }
    .title {
        font-size: 36;
        font-weight: normal;
        font-family: 'Poppins';
    }
    .footerText {
        font-size: 16;
    }
}
.container:hover {
    cursor: pointer;
  }
@media (max-width: 820px) {
    .container {
        margin: 0 auto;
        padding: 2rem 2rem 2rem 2rem;
        .descriptionImageContainer {
            display: flex;
            flex-direction: column;
            gap: 0rem;
            .foterContainer {
                flex-direction: column;
                gap: 0rem;
            }
            .imageContainer {
                width: 100%
            }
        }
        .description {
            font-size: 16;
        }
        .title {
            font-size: 24;
        }
        .footerText {
            font-size: 12;
        }
    }
}