.container {
    display: flex;
    flex-direction: column;
    gap: 4rem; // Ajusta el valor según el espacio deseado
    margin: 10rem 18rem;
  }

@media (max-width: "768px") {
    .container {
        margin: 2rem;
    }
}